---
export const prerender = true;

import { ItemGroup } from "#/components/item-group.tsx";
import { PageHeading } from "#/components/page-heading.tsx";
import BaseLayout from "#/layouts/base-layout.astro";
import { getWriteups } from "#/lib/writeups";

const TITLE = "Technical Writeups";
const DESCRIPTION = "Writing about interesting technical topics.";
---

<BaseLayout
	description={DESCRIPTION}
	path="/technical-writeups"
	title={TITLE}
>
	<main class="mx-auto max-w-xl space-y-12 px-6 py-24">
		<PageHeading description={DESCRIPTION} title={TITLE} />

		<section>
			<ItemGroup groupBy="month" items={await getWriteups()} />
		</section>
	</main>
</BaseLayout>
